<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Is service down?</title>
        <style>
            form {
                display: flex;
            }

            form input {
                margin: 5px;
            }

            form input[type="text"] {
                font-size: 16px;
                width: 500px;
            }

            h1 {
                font-family: 'Courier New', Courier, monospace;
            }
        </style>
    </head>

    <body>
        <div>
            <h1>Is the service down?</h1>
            <form id="form" action="/perform_check" method="POST">
                <input type="text" name="website_url" id="website_url" />
                <input type="submit" value="Check" />
            </form>
        </div>
    </body>
</html>